<div id="fastSearch">
   <input id="searchInput" tabindex="0">
   <ul id="searchResults">
   </ul>
</div>
<footer>
  <!-- highlight.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
  <!-- and it's easy to individually load additional languages -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/r.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/languages/python.min.js"></script>
  <script src ="{{ "/js/search.js" | relURL }}"></script>
  <script src="{{ "/js/fuse.js" | relURL }}"></script> <!-- download and copy over fuse.js file from fusejs.io -->
 <script src="{{"/js/fastsearch.js" | relURL }}"></script>

  <script>
  hljs.configure({languages: []});
  hljs.initHighlightingOnLoad();
  </script>
  <!--添加不蒜子-->
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span id="busuanzi_container_site_pv">本站总访问量<span id       ="busuanzi_value_site_pv"></span>次</span>
  <br>
  <span >
    <mark>CMD+/</mark>对网站进行搜索
  </span>
  <!---->
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <br/><br/>
  {{ . | markdownify }}
  <br/><br/>
  {{ end }}
</footer>
