<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="shortcut icon" href="/image/title.svg" type="image/x-icon">
  <script src="{{ "/fontawesome-free-5.11.2-web/fontawesome-free-5.11.2-web/js/all.js" | relURL }}" crossorigin="anonymous"></script>

  <style>
  	:root {
  		--pagecolour: {{ $.Param "colorPage" }};
  		--maintext: {{ $.Param "colorText" }};
  		--faded: {{ $.Param "colorFade" }};
  		--highlight: {{ $.Param "colorAccent1" }};
  		--lowlight: {{ $.Param "colorAccent2" }};
	}
  </style>

  <link rel="stylesheet" href="{{ "/css/et_book.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
  <!--引入谷歌字体，具体参考https://sb.sb/blog/css-cdn/
    改为使用loli.net,谷歌api博客中有链接-->
  <link rel="stylesheet" href="https://fonts.loli.net/css?family=Tangerine">

  {{ partial "head_custom.html" . }}
</head>
