<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "header.html" . }}

<body>
{{ partial "default_header_image.html" . }}

<div class="main-content 
site-main section-inner thin animated fadeIn faster">

{{ partial "menu_strip.html" . }}

<h1>{{ .Title | markdownify }}</h1>

{{ .Content }}

<div class="prettylistcontainer">
<ul class="prettylist">
  <!-- range (where .Data.Pages "Section" "!=" "") -->
   {{ $paginator := .Paginate .Data.Pages }}
   {{ range $paginator.Pages }}
<li class="prettylist">
<p class="prettylist">
<a href="{{ .URL }}">{{ .Title | markdownify }}</a>&nbsp;&nbsp;
<span class="prettylistdate">{{ .Date.Format "02 Jan 2006" }}</span>
<div class="posts-group">

      
            
            
<br>
<!-- 
<span class="prettylistsummary">{{ .Summary | markdownify }}</span>
-->
</p>
</li>
{{ end }}
</ul>
</div>
{{ partial "pagination.html" . }} 
{{ partial "footer.html" . }}

</div>
</body>
</html>

